---
layout: default
---
<header class="masthead">
  <img class="profile", src="/images/profile.jpg">
	<h1 class="masthead-title">
		<a href="{{ site.baseurl }}/">{{ site.name }}</a>
	</h1>
<nav class="masthead-nav">
	{% for nav in site.nav %}
		<a href="{{ nav.href }}">{{ nav.name }}</a>
	{% endfor %}
</nav>
</header>

<div class="content page">
	<hr>
	<div class="social-icons">
		<ul>
			{% if site.github_username %}
				<li>
					<a href="https://github.com/{{ site.github_username }}">
						<i class="fa fa-github fa-2x"></i>
					</a>
				</li>
			{% endif %}
			{% if site.skype_username %}
				<li>
					<a href="skype:{{ site.skype_username }}?add">
						<i class="fa fa-skype fa-2x"></i>
					</a>
				</li>    
			{% endif %}
			{% if site.telegram_username %}
				<li>
					<a href="https://telegram.me/{{ site.telegram_username }}">
						<i class="fa fa-paper-plane fa-2x"></i>
					</a>
				</li>
			{% endif %}	    
			{% if site.google_email %}
				<li>
					<a href="mailto:{{ site.google_email }}">
						<i class="fa fa-envelope fa-2x"></i>
					</a>
				</li>
			{% endif %}		
		</ul>
	</div>    
</div>
